<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Azure Storage: eznoodledb -->
        <add key="eznoodledb_AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=eznoodledb;AccountKey=Zgav0gB+FyM9z8RlQ2Df8qk3uznu1FXwO4YzOUJ+r3xzsKSdQNaq5WLT5olsuGkQ2j+K+92FCOR9tp6RGuhk8A==" />
        <!-- Azure Storage: eznstorage -->
        <add key="eznstorage_AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=eznstorage;AccountKey=c5qB7vjB9n+fn04a6XbMg5gQk8Q+Qd4MilaE60nt2KTRAN8d9Lgfzvb01B4XAIRMBVgaMZwUvYYjQPvrnWcmiw==" />
        <!-- Azure Storage: eznoodle -->
        <add key="eznoodle_AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=eznoodle;AccountKey=D3TZTH1cnrlntktPK9cvJhUgmLo/nVuVtwpkof14RBd0hFNyu8reMYKzCNGgkYvat1WXDrjm46xIQJIZOmYn1A==" />
    </appSettings>
</configuration>